.mainContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    bottom: 295px;
    width: 100%;
    height: 870px;
    overflow-x: hidden;
    margin: auto;
    border: #fff 1px solid;
    border-left: 0px;
}

.connectTitle {
    font-size: 3rem;
    font-weight: 400;
    position: relative;
    font-style: oblique;
    color: #ffffff;
    display: flex;
    z-index: 1;
    height: 50px;
    width: 400px;
}

.textContainer:hover {
    background-color: #39525dab;
    transform: translateY(-15px);
}

.connectContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 250px;
    height: 200px;
    border-radius: 10px;
    padding: 6px;
    margin-top: 30px;
}

.substack img {
    width: 100%;
    height: 100%;
}

.substack {
    width: 100px;
    height: 200px;
    display: flex;
    bottom: 30px;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.connectContainer h3 {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    position: relative;
    font-style: oblique;
    color: #ffffff;
    z-index: 1;
    margin-top: 15px;
}

.textContainer {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 200px;
    border: #fff 1px solid;
    width: 100%;
    height: 200px;
    background-color: #6c9a9f80;
    border-left: 0px;
    transition: all 0.3s ease-in-out;
}

.textContainer h1 {
    font-size: 3rem;
    font-weight: 400;
    position: relative;
    font-style: oblique;
    color: #ffffff;
    display: flex;
    height: 50px;
    width: 400px;
    margin-bottom: 145px;
}

.socialsContainer {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    border: #fff 1px solid;
    width: 570px;
    right: 10px;
    height: 140px;
    background-color: #6c9a9fa4;
    padding: 6px;
    transition: all 0.3s ease-in-out;
}

.twitter, .linkedin, .github {
    width: 100px;
    height: 100px;
    display: flex;
    position: relative;
    transition: all 0.3s ease-in-out;
    
}

.instagram img, .twitter img, .linkedin img, .github img {
    width: 100%;
    height: 100%;
}

.instagram {
    width: 100px;
    height: 100px;
    display: flex;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.mainconnectContainer {
    flex-direction: column;
    position: relative;
    align-items: center;
    border: #fff 1px solid;
    width: 550px;
    height: 600px;
    border-radius: 10px;
    padding: 6px;
    background-color: rgba(0, 0, 0, 0.76);
    border: #ffffff 1px solid;
    flex: 0 5 auto;
    overflow-y: hidden;
    overflow-x: hidden;
    margin-bottom: 70px;
    display: flex;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.322);
    transition: all 0.3s ease-in-out;
}

.mainconnectContainer:hover {
    transform: translateY(-15px);
    box-shadow: 2px 2px 10px 2px rgba(252, 252, 252, 0.322);
}

.alpha {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    width: 550px;
    height: 600px;
    margin-top: 26px;
    margin: auto;
}

.alpha h3 {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    position: relative;
    font-style: oblique;
    color: #ffffff;
    z-index: 1;
    margin-top: 30px;
}

.button {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    border: #fff 1px solid;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    padding: 6px;
    border: #ffffff 1px solid;
    background-color: #6c9a9fa4;
    font-weight: 400;
    position: relative;
    font-style: oblique;
    color: #ffffff;
    text-align: center;
    font-size: 1rem;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.socialsContainer:hover,
.button:hover {
    background-color: #39525da1;
}

.button:hover,
.substack:hover {
    transform: translateY(-6px);
    cursor: pointer;
}

.instagram:hover,
.twitter:hover,
.linkedin:hover,
.github:hover {
    transform: translateY(-8px);
}

