.mainContainer {
    border: #fff 1px solid;
    width: 100%;
    height: 150px;
    position: relative;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.63);
    border-left: 0px;
    border-right: 0px;
    overflow-x: hidden;
}

.footerLeft h3 {
    font-size: 2rem;
    font-weight: 490;
    position: relative;
    font-style: oblique;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    margin-left: 80px;
}


.solanaHeader {
    font-size: 1rem;
    position: relative;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    margin-left: 106px;
    bottom: 59px;
}

.solanaContainer {
    width: 50px;
    height: 50px;
    display: flex;
    margin-left: 65px;
    margin-bottom: 21.5px;
    bottom: 10px;
}

.solanaContainer img {
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
}

.img1, .img2, .img3 {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: right;
    justify-content: right;
    margin-left: 65px;
}

.img1 img {
    width: 50%;
    height: 50%;
}

.img2 img, .img3 img {
    width: 100%;
    height: 100%;
}

.img1 img {
    left: 54px;
    margin-top: 12px;
    position: relative;
}

.img3 img {
    right: 65px;
    position: relative;
}

.socials {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-left: 978px;
    color: #fff;
    position: relative;
    margin-top: 70px;
}

.footerRight h3 {
    font-size: 1.2rem;
    font-weight: 490;
    position: relative;
    font-style: oblique;
    color: #ffffff;
    display: flex;
    align-items: right;
    left: 1270px;
    margin-top: 35px;
}