.mainContainer {
    border: #fff 1px solid;
    width: 100%;
    height: 450px;
    position: relative;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.63);
}

/* Footer Left Container */

.footerHeader {
    font-size: 2.8rem;
    font-weight: 490;
    position: relative;
    font-style: oblique;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    margin-left: 80px;
}

.footerText {
    font-size: 1.05rem;
    font-weight: 1rem;
    position: relative;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    margin-left: 80px;
}

.solanaHeader {
    font-size: 1.2rem;
    position: relative;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    margin-left: 80px;
}