/* Video Background */
.video {   
  object-fit: cover;   
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  overflow-x: hidden;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
}

 /* Navbar & Content */
 .navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 30px;
  margin: 0 auto;
  padding: 1rem;
  position: fixed;
  z-index: 2;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}

.navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.63);
  transition: 0.3s ease-in-out;
  border: 1px solid #fff;
}

.logo {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: left;
}

.logo img {
  width: 100%;
  height: 100%;
}

.leftContent {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.navbarText {
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
  margin-left: 1rem;
}

.navbarText:hover .navbarText2:hover {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.rightContent {
    display: flex;
    margin-left: 2rem;
    position: relative;
    right: 25px;
    
}

.navbarText1 {
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 720;
  margin-right: 1rem;
  font-style: oblique;
  text-decoration: none;
  position: relative;
}

.navbarText2 {
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 720;
  margin-right: 1rem;
  font-style: oblique;
  text-decoration: none;
  top: 15.5px;
}

.navbarText3 {
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 720;
  margin-right: 1rem;
  font-style: oblique;
  text-decoration: none;
  top: 15.5px;
}

.navbarText4 {
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 720;
  margin-right: 1rem;
  font-style: oblique;
  text-decoration: none;
  top: 15.5px;
}


.navbarText5:hover {
  color: #7b337d;
  text-decoration: none;
}

.navbarText1:hover {
  color: #7b337d;
  text-decoration: none;
}

.navbarText2:hover {
  color: #7b337d;
  text-decoration: none;
}

.navbarText3:hover {
  color: #7b337d;
  text-decoration: none;
}

.navbarText4:hover {
  color: #7b337d;
  text-decoration: none;
}

.navbarText5:active {
  color: #7b337d;
  text-decoration: none;
}

.navbarText4:active {
  color: #7b337d;
  text-decoration: none;
}

.navbarText3:active {
  color: #7b337d;
  text-decoration: none;
}

.navbarText2:active {
  color: #7b337d;
  text-decoration: none;
}

.navbarText1:active {
  color: #7b337d;
  text-decoration: none;
}


/* End Of Navbar & Content */

/* Main Content */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 90%;
  margin: 0 auto;
  padding: 2rem;
  color: #fff;
}

.main h1 {
  font-size: 3.2rem;
  font-weight: 430;
  text-align: left;
  margin-bottom: 1rem;
  width: 100%;
  position: relative;
  bottom: 55px;
  font-style: oblique;
  right: 28px;
}

.main p {
  font-size: 1.05rem;
  font-weight: 1rem;
  text-align: left;
  width: 100%;
  position: relative;
  bottom: 55px;
  right: 28px;
}

.mainContainer {
  border: #fff 1px solid;
  padding: 6rem;
  width: 100%;
  height: 40%;
  background-color: rgba(0, 0, 0, 0.63);
  position: relative;
  top: 20px;
}

.mainRight {
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: right;
  height: 50%;
  width: 70%;
  margin: 0 auto;
  padding: 0 2rem;
  color: #fff;
}

.ufo img {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  
}

.ufo {
  position: relative;
  z-index: 1;
  bottom: 25px;
  left: 50px;
}

.mainLeft {
  display: -ms-flexbox;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  height: 1px;
  margin: 0 auto;
  color: #fff;
  padding-top: 35px;
}

/* End Of Main Content */