.roadmapContainer {
    border: #fff 1px solid;
    width: 100%;
    height: 940px;
    position: relative;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    bottom: 90px;
    flex: 0 10 auto;
    border-left: 0px;
}

.roadmapContainer2 {
    border: #fff 1px solid;
    width: 795px;
    position: relative;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 6px;
    box-shadow: 2px 2px 10px 2px rgba(252, 252, 252, 0.459);
    margin-top: 110px;
}

.roadmapContainer2 img {
    position: relative;
    z-index: 1;
    object-fit: contain;
    width: 100%;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.cosmos img {
    position: relative;
    z-index: -1;
    object-fit: contain;
    width: 2000px;
}

.teamTitle h1 {
    font-size: 3rem;
    font-weight: 400;
    position: relative;
    font-style: oblique;
    color: #ffffff;
    display: flex;
    height: 50px;
    width: 400px;
    margin-bottom: 140px;
    text-align: center;
    justify-content: center;
}

.teamTitle {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    border: #fff 1px solid;
    width: 100%;
    height: 200px;
    background-color: #13295681;
    margin: auto;
    border-left: 0px;
    margin-top: 20px;
}

