.roadmapContainer {
    border: #fff 1px solid;
    padding: 6rem;
    width: 100%;
    height: 810px;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
    margin-bottom: 240px;
}

.roadmapText {
    font-size: 3rem;
    font-weight: 400;
    width: 250px;
    height: 100px;
    text-align: left;
    position: relative;
    font-style: oblique;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    margin-top: 35px;
    z-index: 1;
    right: 40px;
    bottom: 82px;

}

.roadmapContainer2 {
    border: #fff 1px solid;
    width: 795px;
    position: relative;
    overflow-x: hidden;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    position: relative;
    left: 470px;
    bottom: 100px;
    border-radius: 6px;
}

.roadmapContainer2 img {
    position: relative;
    z-index: 1;
    object-fit: contain;
    width: 100%;

}

.cosmos img {
    position: relative;
    z-index: -1;
    object-fit: contain;
}
