.teamContainer {
    width: 100%;
    height: 500px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    top: 100px;
    flex: 0 3 auto;
}

.teamTitle {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    border: #fff 1px solid;
    width: 100%;
    height: 200px;
    background-color: #a3426262;
    margin: auto;
    border-left: 0px;
    transition: all 0.3s ease-in-out;
}

.teamTitle:hover {
    background-color: #290819a8;
    transform: translateY(-15px);
}

.teamTitle h1 {
    font-size: 3rem;
    font-weight: 400;
    position: relative;
    font-style: oblique;
    color: #ffffff;
    display: flex;
    height: 50px;
    width: 400px;
    margin-bottom: 140px;
    text-align: center;
    justify-content: center;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    align-items: center;
    border: #fff 1px solid;
    width: 100%;
    height: 750px;
    overflow-y: hidden;
    overflow-x: hidden;
    bottom: 85px;
    border-left: 0px;
}

.astroDescription {
    position: relative;
    font-style: oblique;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    z-index: -1;
    height: 500px;
    width: 400px;
    border: #ffffff 1px solid;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 2px rgba(5, 5, 5, 0.322);
    flex: 0 2 auto;
    padding: 2px;
    transition: all 0.3s ease-in-out;
}

.astroDescription:hover,
.chumaDescription:hover {
    transform: translateY(-15px);
    box-shadow: 2px 2px 10px 2px rgba(252, 252, 252, 0.322);
}

.astroDescription p {
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    position: relative;
    font-style: oblique;
    color: #ffffff;
    z-index: 1;
    margin-top: 30px;
}

.astroDescription img {
    position: relative;
    z-index: 1;
    height: 500px;
    width: 400px;
    border-radius: 10px;
    filter: blur(5px);
}

.chumaDescription img {
    position: relative;
    z-index: 1;
    height: 500px;
    width: 400px;
    border-radius: 10px;
}
.chumaDescription {
    position: relative;
    font-style: oblique;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    z-index: -1;
    height: 500px;
    width: 400px;
    border: #ffffff 1px solid;
    border-radius: 10px;
    justify-content: center;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.322);
    flex: 0 1 auto;
    padding: 2px;
    transition: all 0.3s ease-in-out;
}

.chumaDescription h3 {
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    position: relative;
    font-style: oblique;
    color: #ffffff;
    z-index: 1;
    margin-top: 492px;
    text-align: center;
    border: #ffffff 1px solid;
    border-radius: 10px;
    padding: 2px;
    width: 100%;
    right: 3px;
    background-color: rgba(0, 0, 0, 0.76);
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
    height: 100px;
    position: relative;
}